*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 62.5em) {
  html {
    font-size: 43.75%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 62.5%;
  }
}
@media only screen and (max-width: 44.37em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 31.87em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Inter", sans-serif;
  color: hsl(236, 13%, 42%);
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.5rem;
}

.container {
  padding-top: 3vh;
  padding-left: 6vw;
  padding-right: 6vw;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-template-columns: [full-start] repeat(3, [col-start] minmax(min-content, 1fr) [col-end]) [full-start];
}
@media only screen and (max-width: 56.25em) {
  .container {
    padding-top: 3vh;
    padding-left: 3vw;
    padding-right: 3vw;
    grid-template-columns: [full-start] repeat(2, [col-start] minmax(min-content, 1fr) [col-end]) [full-start];
  }
}

.heading-1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
}
.heading-1--dark {
  color: hsl(240, 100%, 5%);
}
.heading-1--orange {
  color: hsl(35, 77%, 62%);
  font-size: 3rem;
  text-transform: uppercase;
}

.heading-2 {
  color: #fff;
  font-size: 1.8rem;
  transform: translateY(-2vh);
}
.heading-2:hover {
  cursor: pointer;
  color: hsl(35, 77%, 62%);
  transition: all 0.3s ease;
}
@media only screen and (max-width: 56.25em) {
  .heading-2 {
    font-size: 2rem;
  }
}

.navbar {
  grid-column: full-start/full-end;
  padding-top: 0;
  padding-bottom: 1.5vh;
  display: grid;
  align-content: center;
}
@media only screen and (max-width: 56.25em) {
  .navbar {
    padding-bottom: 3vh;
  }
}
.navbar__list {
  justify-self: end;
  align-items: center;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(5, max-content);
  grid-column-gap: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .navbar__list {
    display: none;
  }
}
.navbar__item:hover {
  color: hsl(5, 85%, 63%);
  transition: all 0.3s ease;
  cursor: pointer;
}
.navbar__logo {
  justify-self: start;
  grid-row: 1/2;
}

.menu {
  position: relative;
}
.menu__hide {
  display: none;
}
@media only screen and (min-width: 56.25em) {
  .menu {
    display: none;
  }
}
.menu__checkbox {
  display: none;
}
.menu__button {
  display: block;
  cursor: pointer;
  position: fixed;
  top: 1.5vh;
  right: 3vw;
  z-index: 2000;
  align-self: center;
}
.menu__background {
  height: auto;
  width: 5rem;
  position: fixed;
  top: 5vh;
  right: 3.5vw;
  background-color: #fff;
  z-index: 1000;
}
.menu__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
}
.menu__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.menu__item {
  margin: 2rem;
}
.menu__link:link, .menu__link:visited {
  display: inline-block;
  font-size: 3rem;
  padding: 1rem 2rem;
  color: hsl(240, 100%, 5%);
  text-transform: uppercase;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 240%;
  transition: all 0.4s;
}
.menu__link:hover, .menu__link:active {
  background-position: 100%;
  color: hsl(240, 100%, 5%);
  transform: translateX(1rem);
}
.menu__checkbox:checked ~ .menu__background {
  transform: scale(100);
}
.menu__checkbox:checked ~ .menu__nav {
  opacity: 1;
  width: 100%;
}
.menu__icon {
  position: relative;
  margin-top: 3.5rem;
}
.menu__icon, .menu__icon::before, .menu__icon::after {
  width: 5rem;
  height: 2px;
  background-color: hsl(240, 100%, 5%);
  display: inline-block;
}
.menu__icon::before, .menu__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.menu__icon::before {
  top: -0.8rem;
}
.menu__icon::after {
  top: 0.8rem;
}
.menu__button:hover .menu__icon::before {
  top: -1rem;
}
.menu__button:hover .menu__icon::after {
  top: 1rem;
}
.menu__checkbox:checked + .menu__button .menu__icon {
  background-color: transparent;
}
.menu__checkbox:checked + .menu__button .menu__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.menu__checkbox:checked + .menu__button .menu__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.header {
  grid-column: full-start/col-end 2;
  display: grid;
  grid-template-rows: min-content, min-content;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3rem;
  grid-column-gap: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .header {
    grid-column: full-start/-1;
  }
}
@media only screen and (max-width: 44.37em) {
  .header {
    grid-row-gap: 2rem;
  }
}
.header__img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  min-height: 30rem;
}
@media only screen and (max-width: 44.37em) {
  .header__img {
    min-height: 100%;
  }
}
.header__image {
  grid-column: 1/-1;
}
.header__paragraph {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .header__paragraph {
    grid-column: 2/3;
  }
}
@media only screen and (max-width: 44.37em) {
  .header__paragraph {
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 56.25em) {
  .header__lg-text {
    grid-column: 1/2;
  }
}
@media only screen and (max-width: 44.37em) {
  .header__lg-text {
    grid-column: 1/-1;
  }
}
.header__sm-text {
  grid-column: 1/-1;
}
.header__btn {
  grid-column: 1/2;
}

.news_section {
  grid-column: full-start/full-end;
  margin-top: 5rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-column-gap: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .news_section {
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
  }
}

.news {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: repeat(3, min-content);
  grid-column-gap: 2rem;
}
.news__image {
  grid-row: 1/span 3;
  grid-column: 1/2;
}
.news__img {
  display: block;
  max-width: 100%;
  max-height: 13rem;
  object-fit: cover;
}
@media only screen and (max-width: 56.25em) {
  .news__img {
    max-height: 15rem;
  }
}
@media only screen and (max-width: 31.87em) {
  .news__img {
    max-height: 17rem;
  }
}
@media only screen and (min-width: 112.5em) {
  .news__img {
    max-height: 15rem;
  }
}
.news__text {
  grid-row: 3/4;
  grid-column: 2/-1;
}
@media only screen and (max-width: 44.37em) {
  .news__text {
    width: 90%;
  }
}
@media only screen and (max-width: 31.87em) {
  .news__text {
    width: 100%;
  }
}
.news__heading {
  color: hsl(240, 100%, 5%);
  font-weight: 800;
}
@media only screen and (max-width: 56.25em) {
  .news__heading {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 44.37em) {
  .news__heading {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 31.87em) {
  .news__heading {
    font-size: 2rem;
  }
}
.news__heading:hover {
  color: hsl(5, 85%, 63%);
  transition: all 0.3s ease;
  cursor: pointer;
}
.news__number {
  color: hsl(233, 8%, 79%);
  font-size: 3rem;
  font-weight: 800;
}
@media only screen and (max-width: 56.25em) {
  .news__number {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 112.5em) {
  .news__number {
    font-size: 5rem;
  }
}

.infos {
  background-color: hsl(240, 100%, 5%);
  grid-column: col-start 3/col-end 3;
  margin-left: 2.5rem;
  padding: 5vh 2rem;
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 5vh;
}
@media only screen and (max-width: 56.25em) {
  .infos {
    grid-column: 1/-1;
    margin-left: 0;
    margin-top: 3rem;
  }
}

.info {
  color: hsl(233, 8%, 79%);
}
.info__text {
  padding-top: 1vh;
}
.info__text::after {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
  margin-top: 4rem;
}
.info__text--last::after {
  content: none;
}

.btn {
  background-color: hsl(5, 85%, 63%);
  color: #fff;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  padding: 0.5rem 0;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 0.5rem;
}
@media only screen and (max-width: 56.25em) {
  .btn {
    padding: 1.5rem 0;
  }
}
.btn:hover {
  background-color: hsl(240, 100%, 5%);
}

/*# sourceMappingURL=style.css.map */
