
// COLOR VARIABLES
$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);

$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);

//FONT VARIABLES
$font-primary: 'Inter', sans-serif;



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
    color: $dark-grayish-blue;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.5rem;
}

.container {
    padding-top: 5vh;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-bottom: 10vh;
    display: grid;
    grid-template-rows: min-content 60vh min-content;
    grid-template-columns: [full-start] repeat(3, [col-start] minmax(min-content, 1fr) [col-end]) [full-start];
}