
// COLOR VARIABLES
$soft-orange: hsl(35, 77%, 62%);
$soft-red: hsl(5, 85%, 63%);

$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);

//FONT VARIABLES
$font-primary: 'Inter', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-maximum: 112.5em; // 1800px
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;  // 1000px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; //600px




*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-large) {
        font-size: 43.75%;
    }

    @media only screen and (min-width: $bp-maximum) {
        font-size: 81.25%;
    }
}

body {
    font-family: $font-primary;
    color: $dark-grayish-blue;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.5rem;
}

.container {
    padding-top: 3vh;
    padding-left: 6vw;
    padding-right: 6vw;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: [full-start] repeat(3, [col-start] minmax(min-content, 1fr) [col-end]) [full-start];

}