.navbar {
    grid-column: full-start / full-end;
    padding-top: 0;
    padding-bottom: 1.5vh;

    display: grid;
    align-content: center;

    &__list {
        justify-self: end;
        align-items: center;
        grid-row: 1 / 2;

        display: grid;
        grid-template-columns: repeat(5, max-content);
        grid-column-gap: 4rem;
    }

    &__item {
        &:hover {
            color: $soft-red;
            transition: all .3s ease;
            cursor: pointer;
        }

    }

    &__logo {
        justify-self: start;
        grid-row: 1 / 2;
    }
}