.news_section {
    grid-column: full-start / full-end;
    margin-top: 8rem;
    padding-bottom: 10rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-column-gap: 5rem;
}

.news {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-column-gap: 2rem;


    &__image {
        grid-row: 1 / span 3;
        grid-column: 1 / 2;
    }

    &__img {
        display: block;
        max-width: 100%;
        max-height: 13rem;
        object-fit: cover;
    }

    &__text {
        grid-row: 3 / 4;
        grid-column: 2 / -1;
    }

    &__heading {
        color: $very-dark-blue;
        font-weight: 800;

        &:hover {
            color: $soft-red;
            transition: all .3s ease;
            cursor: pointer;
        }
    }

    &__number {
        color: $grayish-blue;
        font-size: 3rem;
    }

    
}