.heading-1 {
    font-size: 6.5rem;
    font-weight: 700;
    line-height: 1;

    &--dark {
        color: $very-dark-blue;
    }

    &--orange {
        color: $soft-orange;
        font-size: 3rem;
        text-transform: uppercase;
    }

}

.heading-2 {
    color: #fff;
    font-size: 1.8rem;
    transform: translateY(-2vh);

    &:hover {
        cursor: pointer;
        color: $soft-orange;
        transition: all .3s ease;
    }
}